<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body style="background-color: #d0d0d0; color: black">

        <nav class="navbar navbar-light bg-dark">
                <a class="navbar-brand" href="/" style="color: #F44336">
                    MessClearer
                </a>
            </nav>

    <div class="container" style="position: fixed; top:20%; left: 20%;">
        <div class="row">
            <h1 class="display-4" style="color: #F44336;">Hello, Clear your github mess</h1>
        </div>
        <hr>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <p class="lead"> You are probably here because your repositories are a mess.</p>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <p>Login with your github Account and get going</p>
                <a href="{{loginurl}}"><button type="button" class="btn btn-outline-danger"> Continue with your github </button></a>
            </div>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>